body {
    text-align: center;
    background-color: white;
    margin: 0;
}
h1, h2 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 190px;
    font-weight: bold;
    letter-spacing: -10px;
    line-height: 1.2;
    margin-top: 180px;
    margin-bottom: -35px;
    text-align:center;
	background: linear-gradient(to right, #ff7aa0 10%, 	#FFFF00 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
p {
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    letter-spacing: 15px;
    text-align: center;
}
a:link, a:visited {
  background-color: #ffd9b3;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: pink;
}

.icons {
    position: fixed;
    display: flex;
    justify-content:center;
    padding-top: 70px;
    max-height: 0;
    overflow: hidden;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 2;
    transition: all 5s ease;
}

.firstblog.firstblog, .secondblog.secondblog, .thirdblog.thirdblog{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 70px;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
}

.icons:hover {
    max-height: 2000px;
}

.iconlink:link, .iconlink:visited {
    background-color: white;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0;
}

.iconlink:link {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.socialmedia{
    display: flex;
    justify-content:center;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}
.smedialink:link, .smedialink:visited {
    background-color: transparent;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0;
}

.smedialink:link {
    display: flex;
    align-items: center;
    overflow: hidden;
}
