body {
    text-align: center;
    background-color: white;
    margin: 0;
}
h1, h2 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 190px;
    font-weight: bold;
    letter-spacing: -10px;
    line-height: 1.2;
    margin-top: 180px;
    margin-bottom: -15px;
    text-align:center;
	background: linear-gradient(to right, #ff7aa0 30%, 	#FFFF00 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
p {
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0;
}
a:link, a:visited {
  background-color: #ffd9b3;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: pink;
}
